* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 46px;
    color: #000000;
    margin-bottom: 20px;
}

button {
    background-color: #cf0000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #cf0000;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

div {
    margin-bottom: 20px;
}

.game-over {
    color: #470000;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #cf0000;
}

button:active {
    background-color: #cf0000;
}

/* New CSS for Layout */
.score-container {
    margin-bottom: 20px;
}

.game-play {
    margin-top: 20px;
}

